<div class="global couleur-main">
    <main class='principal'>
    	<section class="accueil">
	    	<h1>TP2</h1>
	    	<h2><%=__('cours') %></h2>
	    	<h3><%=__('remise') %></h3>
    	</section>
    </main>
</div>	

