#list_user, #list_user tr, #list_user td, #list_user th {
	border: 1px solid black;
	border-collapse: collapse;
}

#contenu_message {
	border: 1px solid black;
	width: 400px;
	height: 500px;
	margin-bottom: 20px;
	overflow: auto;
}

#list_user_conteneur {
	display: flex;
	flex-direction: column;
}

#list_user {
	margin: 10px;
	width: 95%;
}

#chat table * {
	padding: 3px;
}

h2, h3 {
	text-align: center;
}

#chat, #enregistrement {
	margin: 0 auto;
}

#chat {
	display: flex;
	flex-direction: column;
}

#enregistrement, #message_a_transmettre {
	margin-bottom: 20px;
}

#message_a_transmettre input {
	margin-right: 5px;
	width: 289px;
}

#message {
	max-width: 500px;
}

#message tr td {
	white-space: nowrap;
}